include ../helpers/mixin
footer
    .container-fluid
        .row
            .col-md-12.col-md-offset-2
                .row
                    .col-md-4.line-right
                        img.text-center(src="assets/image/logo-grupo-la-republica.png")
                        h3.text-center Grupo La República Digital
                        ul
                            li Jr. Camaná 320 Cercado de Lima
                            li Teléfono: 711-6000 (Central Telefónica)
                            li
                                small Todos los derechos reservados - 2015
                    .col-md-12    
                        .row
                            .col-md-4
                                ul
                                    +news1("#",'Roger Federer')
                                    +news1("#",'SBS')
                                    +news1("#",'Scarlett Johansson')
                                    +news1("#",'Scotiabank')
                                    +news1("#",'Selena Gomez')
                                    +news1("#",'Spiderman')
                                    +news1("#",'Sporting Cristal')
                                    +news1("#",'Sunat')
                                    +news1("#",'Telefonica del Peru')
                                    +news1("#",'The Walking Dead')
                                    +news1("#",'Twitter')
                                    +news1("#",'Universidad Cesar Vallejo')
                                    +news1("#",'Universidad San Martin')
                                    +news1("#",'Universitario de Deportes')
                                    +news1("#",'XBOX')
                                    +news1("#",'YouTube')
                                    +news1("#",'Bayer Munich')
                                    +news1("#",'Bayer Munich')
                                    +news1("#",'Spiderman')
                                    +news1("#",'Sporting Cristal')
                                    +news1("#",'Sunat')
                                   
                            .col-md-4
                                ul
                                    +news2("#",'Al fondo hay sitio')
                                    +news2("#",'Alejandro Toledo')
                                    +news2("#",'Alianza Lima')
                                    +news2("#",'Alianza Lima')
                                    +news2("#",'Banco de la Nación')
                                    +news2("#",'Barack Obama')
                                    +news2("#",'Universidad Cesar Vallejo')
                                    +news2("#",'Universidad San Martin')
                                    +news2("#",'Barcelona')
                                    +news2("#",'Bayern Munich')
                                    +news2("#",'Bayern Munich')
                                    +news2("#",'BBVA')
                                    +news2("#",'XBOX')
                                    +news2("#",'BCP')
                                    +news2("#",'XBOX')
                                    +news2("#",'YouTube')
                                    +news2("#",'Bayer Munich')
                                    +news2("#",'Bayer Munich')
                                    +news2("#",'BBVA')
                                    +news2("#",'XBOX')
                                    +news1("#",'Sunat')
                            .col-md-4
                                ul
                                    +news3("#",'Roger Federer')
                                    +news3("#",'SBS')
                                    +news3("#",'Scarlett Johansson')
                                    +news3("#",'Scotiabank')
                                    +news3("#",'Selena Gomez')
                                    +news3("#",'Spiderman')
                                    +news3("#",'Sporting Cristal')
                                    +news3("#",'Sunat')
                                    +news3("#",'Telefonica del Peru')
                                    +news3("#",'The Walking Dead')
                                    +news3("#",'Twitter')
                                    +news3("#",'Universidad Cesar Vallejo')
                                    +news3("#",'Universidad San Martin')
                                    +news3("#",'Universitario de Deportes')
                                    +news3("#",'XBOX')
                                    +news3("#",'YouTube')
                                    +news3("#",'Bayer Munich')
                                    +news3("#",'Bayer Munich')
                                    +news3("#",'BBVA')
                                    +news3("#",'XBOX')
                                    +news3("#",'BCP')
                            .col-md-4
                                ul
                                    +news4("#",'Roger Federer')
                                    +news4("#",'SBS')
                                    +news4("#",'Scarlett Johansson')
                                    +news4("#",'Scotiabank')
                                    +news4("#",'Selena Gomez')
                                    +news4("#",'Spiderman')
                                    +news4("#",'Sporting Cristal')
                                    +news4("#",'Sunat')
                                    +news4("#",'Telefonica del Peru')
                                    +news4("#",'The Walking Dead')
                                    +news4("#",'Twitter')
                                    +news4("#",'Universidad Cesar Vallejo')
                                    +news4("#",'Universidad San Martin')
                                    +news4("#",'Universitario de Deportes')
                                    +news4("#",'XBOX')
                                    +news4("#",'YouTube')
                                    +news4("#",'Bayer Munich')
                                    +news4("#",'Bayer Munich')
                                    +news4("#",'BBVA')
                                    +news4("#",'XBOX')
                                    +news4("#",'BCP')
    .container-fluid
        .row
            .line
                .col-md-12.col-md-offset-2
                            ul
                                +newspaper("#",'Diarios del PAL:')
                                +newspaper("#",'| Clarin | ')
                                +newspaper("#",'  La Tercera | ')
                                +newspaper("#",'  El Universal Colombia | ')
                                +newspaper("#",'  Vanguardia | ')
                                +newspaper("#",'  La Prensa | ')
                                +newspaper("#",'  El Salvador | ')
                                +newspaper("#",'  La Verdad | ')
                                +newspaper("#",'  Diario Libre | ')
                                +newspaper("#",'  El diario de hoy | ')
                                +newspaper("#",'  El Colombiano |')