- var p1 = "La actriz Emma Watson fue confirmada por Disney como la protagonista de 'La bella y la bestia' en la versión de carne y hueso."

- var p2 = "Zenaida Condori Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe..."

- var p3 = "Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..."

- var t1 = "Emma Watson protagonizará 'La bella y la bestia' | VIDEO"

- var t2 = "Roque Benavides respalda proyecto Tía María y espera que Conga se socialice"

- var t3 = "YouTube: hombre finge ahogarse y su perro lo resaca | FOTOS"

- var t4 = "Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid"

- var news = "Juan Román Riquelme, el adiós al 'Último 10' de Argentina"

- var news1 = "Lewis Carroll: un día como hoy nació el autor de Alicia en el"

- var news2 = "Gameplay de 'Dead Kings', el descargable premium de 'Assassin's"

- var news3 = "Fiorentina empató 1-1 en su visita al Genoa con gran actuación de Juan Vargas[VIDEO]"

- var news4 = "Jefferson Farfán: Schalke 04 tampoco sabe cuándo volverá a las canchas[FOTOS]"

- var news5 = "Barcelona vs Villareal:ganaron 3-2 con goles de Messi por Liga BBVA[VIDEO]"

- var news6 = "Perú cayó 3-1 ante Colombia por el final del Sudamericano Sub 20[VIDEO/FOTOS]"

- var news7 = "Joshua Ivanoff está loco por olor de Melissa Loza"

- var news8 = "Corinthians: Paolo Guerrero dedica su gol a Alondra García"

- var news9 = "Angie Arizaga es amenazada de muerte (VIDEO)"

- var news10 = "Philip Seymour Hoffman: Un año sin el premiado actor (VIDEO)"

- var news11 = "¿Cómo renovar el guardarropa de los más pequeños en este verano?"

- var news12 = "Shakira y Piqué ¡Ya son padres por segunda vez"

- var news13 = "Ted 2: Mira el tráiler de la cinta"

- var news14 = "Cómo usar zapatos altos sin dolor"