$color_facebook: #2E6296;
$color_twitter: #55ACEE;
$color_googleplus: #BE554A;
$color_border: #CDCDCD;
$gris_light: #EEEEEE;
$gris_lighter: #F2F2F2;
$title_columnistas: #B20000;
$title_special_news: #C33C2D;
$color_chicago_approx: #575757;
$black: #000000;
$white: #ffffff;
$color_gray_approx: #7c8185;
$color_mirage_approx: #172026;
$font: 'Roboto Condensed', sans-serif;
$fonts: 'PT Sans', sans-serif;
$oswald: 'Oswald';
$monserrat:'Montserrat';