footer{
	background-color: #E3E3E3;
	padding: 1% 0%;
	.line-right{
		border-right: 2px inset #eee;
    	padding: 9% 2% 15% 0%;

		img{
		margin: auto;
		}
		h3{
			font-size: 16px;
	    	margin: 0px 0 14px;
	    	font-family: 'Open Sans', sans-serif;
	    	font-weight: 700;
		}
	}
	
	ul{
		padding: 0;
		li{
			list-style: none;
			font-family: 'PT Sans', sans-serif;
			font-size: 14.5px;
			a{
				font-size: 13px;
				color: #38424B;
				text-decoration: none;
			}		
		}
	}
}
.line{
	border-top: 2px inset #eee;
	li {
		margin-top: 1%;
		list-style: none;
		font-family: 'PT Sans', sans-serif;
		float: left;
		margin-right: 0.5%;	
		color: #38424B;
		font-size: 11px;
		}
}